@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

body {
  font-family: sans-serif;
  width: 1200px;
  padding: 0.5rem;
  margin: 0 5rem;
  font-family: "Work Sans", sans-serif;
}

h1 {
  margin-top: 0.5rem;
  text-decoration: underline;
}

.guess {
  font-size: 5em;
}

.message {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.input-number {
  background: none;
  border: 4px solid tomato;
  font-family: inherit;
  color: inherit;
  font-size: 3rem;
  padding: 2rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 1.2rem;
}

.btn-check {
  border: none;
  background-color: tomato;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 16px;
}

.btn-check:hover {
  background-color: rgb(230, 83, 57);
}

.again {
  border: none;
  background-color: tomato;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 16px;
}

.again:hover {
  background-color: rgb(230, 83, 57);
}

.score {
  margin: 0 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.highscore {
  margin: 0 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.your-score {
  padding: 0.5rem;
  margin-top: 1rem;
  border: 4px solid tomato;
  width: 25rem;
}

.credit {
  font-family: inherit;
}
